@charset "utf-8";
/* CSS Document */

#flatNumber{width:150px;}


#floorsList{width:150px;}


#nameTextbox{width:150px;}


#mainTable, th, td{margin-left: auto; margin-right: auto; padding: 15px; border: 1px solid black; border-collapse: collapse;}